body{
    font-family: "Roboto";
    font-weight: 500;
    display: flex;
    margin: 0px;
    background-color: rgb(251, 249, 249);
}
.left{
    max-width: 600px;width: 100%
}
img{
    width: 100%;
}
.title{
    font-size: 1.5rem;
    padding-right: 100px;
    padding-left: 5%;
}
.one{
    padding-top: 15%;
}
.two{
    padding-top: 2%;
}
.italics{ font-style: italic;}
form{
    box-shadow: 1px 1px 4px black;
    padding: 2% 0 2% 5%;
    background-color: white;
    
}
form > div{
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 0%;
}
.set{
    display: flex;
    flex-direction: column;
}
form > div > div{
    margin-bottom: 20px;
    color: gray;
    font-size: 0.8rem;
}
input{
    width: 240px;
    height: 25px;
    font-size: 1.2rem;
    border: 1px solid gray
}
legend{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.left{
    position: relative;
    text-align: center;
}
.logo{
    font-size: 5rem;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    left: 0;
    right: 0;
    z-index: 2;
}

p{
    margin: 2% 0 0 5%;
}

a{color:green; text-decoration: none;}

[type = submit]{
    padding: 12px 24px 13px 24px;
    background-color: green;
    color:white;
    font-size: 1.2rem; 
    margin: 2% 0 0 5%;
    border: none;
    border-radius: 5px;
}
input:invalid:focus{
    outline: none;
    border: 2px solid red
}
input:focus{
    outline: none;
    border: 2px solid blue
}
input:invalid{
    outline: none;
    border: 1px solid red
}


